<section class="sponsor bg-light-blue">
  <div class="container">
    <div class="sponsor-logo-bg ptb-60 rounded-top shadow-lg">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="text-center mb-5">
            <span class="text-uppercase fw-bold text-dark">Sponsor</span>
            <h2>The Partners <span class="text-pink">.</span></h2>
          </div>
        </div>
      </div>
      <div class="row px-4">
        <div class="col-lg-3 col-md-6">
          <div class="logo text-center py-3 mb-3">
            <img src="assets/img/brand/lg-1.svg" width="100" alt="Logo" />
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="logo text-center py-3 mb-3">
            <img src="assets/img/brand/lg-2.svg" width="100" alt="Logo" />
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="logo text-center py-3 mb-3">
            <img src="assets/img/brand/lg-3.svg" width="100" alt="Logo" />
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="logo text-center py-3 mb-3">
            <img src="assets/img/brand/lg-4.svg" width="100" alt="Logo" />
          </div>
        </div>
      </div>
      <div class="row justify-content-center px-4">
        <div class="col-lg-10">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
              <div class="logo text-center py-3 mb-3">
                <img
                  src="assets/img/brand/lg-5.svg"
                  width="100"
                  alt="Logo"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="logo text-center py-3 mb-3">
                <img
                  src="assets/img/brand/lg-6.svg"
                  width="100"
                  alt="Logo"
                />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="logo text-center py-3 mb-3">
                <img
                  src="assets/img/brand/lg-7.svg"
                  width="100"
                  alt="Logo"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

