
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Arial', sans-serif; 
  }
  h1, h2, h3 {
    font-family: 'Arial', sans-serif;
  }
  
  p, li, a {
    font-family: 'Arial', sans-serif;
  }
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}