<div class="main-wrapper">
  <section class="sign-up-in-section bg-dark ptb-60" style="background: url('assets/img/page-header-bg.svg') no-repeat right bottom; background-size: cover; height: 100vh;">
    <div class="container">
      <div class="row align-items-center justify-content-center h-100">
        <div class="col-lg-5 col-md-7 col-sm-9 col-11">
          <div class="register-wrap p-3 bg-light shadow rounded-custom">
            <h1 class="h4 text-center">Sign Up</h1>
            <form action="#" class="mt-2 register-form">
              <div class="form-group mb-2">
                <label for="firstName" class="mb-1">First Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="First Name" id="firstName" required aria-label="First Name" />
              </div>
              <div class="form-group mb-2">
                <label for="lastName" class="mb-1">Last Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Last Name" id="lastName" required aria-label="Last Name" />
              </div>
              <div class="form-group mb-2">
                <label for="email" class="mb-1">Email <span class="text-danger">*</span></label>
                <input type="email" class="form-control" placeholder="Email" id="email" required aria-label="Email" />
              </div>
              <div class="form-group mb-2">
                <label for="password" class="mb-1">Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" placeholder="Password" id="password" required aria-label="Password" />
              </div>
              <div class="form-group mb-3">
                <label for="confirmPassword" class="mb-1">Confirm Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" required aria-label="Confirm Password" />
              </div>
              <button type="submit" class="btn btn-primary d-block w-100">Submit</button>
              <p class="font-monospace fw-medium text-center text-muted mt-2 mb-0">
                Already have an account? <a href="/login" class="text-decoration-none">Login</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
