<section class="eve-blog ptb-100 bg-light-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-5">
          <span class="text-dark-blue text-capitalize fw-bold d-inline-block mb-2">Blog Post</span>
          <h2>Latest News insights</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="mb-4 mb-lg-0">
          <img src="assets/img/eb-1.jpg" class="img-fluid rounded-top" alt="People" />
          <div class="px-4 py-4 ev-blog-meta">
            <div class="d-lg-flex mb-2">
              <div class="date pe-3 small text-muted">
                <i class="far fa-alarm-clock pe-2"></i><span>Aug 5, 2024</span>
              </div>
              <div class="location small text-muted">
                <i class="far fa-map-marker-alt pe-2"></i>
                <span>Manzini Public Library, Eswatini</span>
              </div>
            </div>
            <h5 class="mb-3">
              <a href="#" class="text-dark">Breakfast after a long time sad & unhappy</a>
            </h5>
            <p>
              Credibly empower backend total linkage via cost effective
              alignments. Dramatically seize leveraged niche markets.
            </p>
            <a routerLink="/" class="link-with-icon">More Information<i class="far fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="mb-4 mb-lg-0">
          <img src="assets/img/eb-2.jpg" class="img-fluid rounded-top" alt="People" />
          <div class="px-4 py-4 ev-blog-meta">
            <div class="d-lg-flex mb-2">
              <div class="date pe-3 small text-muted">
                <i class="far fa-alarm-clock pe-2"></i><span>Aug 5, 2024</span>
              </div>
              <div class="location small text-muted">
                <i class="far fa-map-marker-alt pe-2"></i>
                <span>Manzini Public Library, Eswatini</span>
              </div>
            </div>
            <h5 class="mb-3">
              <a href="#" class="text-dark">Marketing Tools In CX Strategies trust</a>
            </h5>
            <p>
              Credibly empower backend total linkage via cost effective
              alignments. Dramatically seize leveraged niche markets.
            </p>
            <a routerLink="/" class="link-with-icon">More Information<i class="far fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="mb-4 mb-lg-0">
          <img src="assets/img/eb-3.jpg" class="img-fluid rounded-top" alt="People" />
          <div class="px-4 py-4 ev-blog-meta">
            <div class="d-lg-flex mb-2">
              <div class="date pe-3 small text-muted">
                <i class="far fa-alarm-clock pe-2"></i><span>Aug 5, 2024</span>
              </div>
              <div class="location small text-muted">
                <i class="far fa-map-marker-alt pe-2"></i>
                <span>Manzini Public Library, Eswatini</span>
              </div>
            </div>
            <h5 class="mb-3">
              <a href="#" class="text-dark">The morning with a sad face given their trust</a>
            </h5>
            <p>
              Credibly empower backend total linkage via cost effective
              alignments. Dramatically seize leveraged niche markets.
            </p>
            <a routerLink="/" class="link-with-icon">More Information<i class="far fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>