<header class="main-header w-100" [ngClass]="[
    dark ? 'position-absolute' : '',
    absolute ? 'position-absolute' : ''
  ]">
  <nav class="navbar navbar-expand-xl sticky-header z-10"
    [ngClass]="[dark ? 'navbar-dark' : 'navbar-light', sticky ? 'affix' : '']" (scroll)="onscroll()">
    <div class="container d-flex align-items-center justify-content-lg-between position-relative">
      <a routerLink="/" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none">
        <h1>S.Portal</h1>
      </a>
      <button class="navbar-toggler position-absolute right-0 border-0" id="#offcanvasWithBackdrop" role="button">
        <span class="far fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop"
          aria-controls="offcanvasWithBackdrop"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center">
        <ul class="nav col-12 col-md-auto justify-content-center main-menu">
          <li><a routerLink="/" class="nav-link">Home</a></li>
          <li><a routerLink="/" class="nav-link">Services</a></li> 
          <li><a routerLink="/" class="nav-link">About us</a></li>
          <li><a routerLink="/" class="nav-link">Career</a></li>
          <li><a routerLink="/" class="nav-link">Contacts</a></li>
        </ul>
      </div>

      <div class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block">
        <a routerLink="/login" class="btn btn-link text-decoration-none me-2">Sign In</a>
        <a routerLink="/" class="btn btn-primary">Get Started</a>
      </div>

      <!--offcanvas menu start-->
      <div class="offcanvas offcanvas-end d-xl-none" tabindex="-1" id="offcanvasWithBackdrop">
        <div class="offcanvas-header d-flex align-items-center mt-4">
          <a routerLink="/" class="d-flex align-items-center mb-md-0 text-decoration-none">
            <h1>S.Portal</h1>
          </a>
          <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="far fa-close"></i>
          </button>
        </div>
        <div class="offcanvas-body">
          <ul class="nav col-12 col-md-auto justify-content-center main-menu">
            <li><a routerLink="/" class="nav-link" data-bs-dismiss="offcanvas" aria-label="Close">Home</a></li>
            <li><a routerLink="/" class="nav-link" data-bs-dismiss="offcanvas" aria-label="Close">Services</a></li> 
            <li><a routerLink="/" class="nav-link" data-bs-dismiss="offcanvas" aria-label="Close">About us</a></li>
            <li><a routerLink="/" class="nav-link" data-bs-dismiss="offcanvas" aria-label="Close">Career</a></li>
            <li><a routerLink="/" class="nav-link" data-bs-dismiss="offcanvas" aria-label="Close">Contacts</a></li>
          </ul>
          <div class="action-btns mt-4 ps-3">
            <a routerLink="/login" class="btn btn-outline-primary me-2">Sign In</a>
            <a routerLink="/" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <!--offcanvas menu end-->
    </div>
  </nav>
</header>