<div class="container my-3 mt-5">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="table-warning">
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Date created</th>
                    <th>Roles</th>
                    <th class="text-center">Lock / Unlock</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="members.length === 0">
                    <td colspan="7" class="text-center">No Members</td>
                </tr>

                <tr *ngFor="let member of members">
                    <td>{{member.userName}}</td>
                    <td>{{member.firstName | titlecase}}</td>
                    <td>{{member.lastName | titlecase}}</td>
                    <td>{{member.dateCreated | date}}</td>
                    <td>
                        <span *ngFor="let role of member.roles; let i = index">
                            {{role}}<span *ngIf="i + 1 < member.roles.length">, </span>
                        </span>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-warning btn-sm me-2" *ngIf="!member.isLocked" (click)="lockMember(member.id)">
                            Lock
                        </a>
                        <a class="btn btn-success btn-sm" *ngIf="member.isLocked" (click)="unlockMember(member.id)">
                            Unlock
                        </a>
                    </td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <button class="btn btn-primary btn-sm me-2" routerLink="/admin/add-edit-member/{{member.id}}">
                                <i class="bi bi-pencil"></i> Edit
                            </button>
                            <button class="btn btn-danger btn-sm" (click)="deleteMember(member.id, template)">
                                <i class="bi bi-trash"></i> Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #template>
        <div class="modal-body text-center">
            <p>Are you sure you want to delete {{memberToDelete?.userName}}?</p>
            <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
            <button type="button" class="btn btn-primary" (click)="decline()">No</button>
        </div>
    </ng-template>
</div>
