<div class="greet-main" id="greeting">
  <div class="greeting-main" wmAnimate="fadeInUp" aos speed="normal">
    <div class="greeting-text-div">
      <div>
        <h1 class="greeting-text">
          {{details.title}}
          <span class="wave-emoji">👋</span>
        </h1>
        <p class="greeting-text-p description">{{details.description}}</p>
        <ul class="features-list">
          <li *ngFor="let feature of details.features">
            {{feature}}
          </li>
        </ul>
        <div class="button-greeting-div">
          <div>
            <a class="main-button" href="{{details.documentationLink}}">View Documentation</a>
          </div>
        </div>
      </div>
    </div>
    <div class="greeting-image-div">
      <img src="../../../assets/img/locker.png" alt="Identity Management Dashboard">
    </div>
  </div>
</div>

