<section class="home-hero" style="
    background: url('../../../assets/img/home-bg.jpg') no-repeat center
      center/cover;
  ">
  <div class="position-relative">
    <div class="container">
      <div class="row align-items-md-center">
        <div class="col-lg-6">
          <div class="home-hero-content">
            <span class="text-pink fw-bold">
              05 - 10 August 2024 | Manzini, Eswatini
            </span>
            <h1 class="fw-bold display-5">
              <span class="display-2 fw-bold">Design</span>
              <br />Conference-2024
            </h1>
            <p class="mb-4">
              Intrinsicly drive high standards in scenarios and stand-alone
              applications assertively streamline stand-alone alignments via
              resource maximizing core.
            </p>
            <div class="action-btns mt-4 align-items-center d-block d-sm-flex d-lg-flex d-md-flex">
              <a routerLink="/signup" class="btn btn-primary bg-pink me-3 mb-3">Register Now</a>
              <a routerLink="/request-for-demo" class="btn border-pink text-pink mb-3">Download PDF</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mt-5 mt-lg-0 home-hero-img">
            <img src="../../../assets/img/h-spea.png" class="img-fluid" alt="Event" />
            <a href="#" class="glightbox">
              <i class="fas fa-play"></i>
            </a>
          </div>
        </div>
      </div>
      <ul class="list-unstyled ev-hero-shape d-none d-xl-block m-0">
        <li>
          <img src="../../../assets/img/star.png" alt="star" />
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li>
          <img src="../../../assets/img/square.png" alt="shape" />
        </li>
      </ul>
    </div>
  </div>
</section>